@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;600;700&display=swap");

body {
  font-family: "Vazirmatn", system-ui, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}